.searchContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    margin-right: 18px;

}

.input{
   width: 50%;
   margin-left: 30rem;
   
}